@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.float-r {
    float: right;
}
.display-b {
    display: block;
}
.display-ib {
    display: inline-block;
}
.display-f {
    display: flex;
}
.pname-al {
    position: absolute;
    top: 5px;
}
.uinf-al {
    justify-content: left;
    align-items: center;
}
.uinf-m {
    margin-left: 10px;
}
.pname-m {
    margin: 0 0 20px 10px;
}
body {
    margin: 0;
    align-content: center;
    height: 100%;
    width: 100%;
}
header {
    background-color:#FF0000;
    color: white;
    width: 100%;
    height: 52px;
    padding: 12px 0;
    margin-bottom: 0px;
}
.logo {
    max-height: 101px;
    max-width: 100px;
    margin-top: -11px;
}
@media screen and (max-width: 530px){
    .uimg {
        display: none;
    }
    .flag{
        display: none;
    }
    #logo {
        height: 100px;
        width: 100px;
        font-size: 22px;
        margin-top: 12px;
        margin-left: 15px;
    }
    .signin {
        font-size: 18px;
        width: 80px;
        height: 40px;
        margin-top: 6px;
        margin-right: 15px;
    }
    #myname {
        font-size: 20px;
        margin-top: 14px;
        margin-right: 16px;
    }
    #load {
        margin: 10px 0;
    }
}
@media screen and (min-width: 531px){
    .signin {
        font-size: 22px;
        width: 140px;
        height: 52px;
        margin-right: 20px;
    }
    #load {
        margin: 10px 10px 30px 0;
    }
    #myname {
        font-size: 24px;
        margin-top: 12px;
        margin-right: 20px;
    }
}
.signin {
    text-align: center;
    color: black;
    background-color: white;
    border: none;
    float: right;
    border-radius: 10px;
}
#myname {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
    float: right;
    margin-left: 10px;
}
.uimg {
    height: 100%;
    width: 100%;
    max-height: 46px;
    max-width: 46px;
    margin: 3px 10px 3px 0;
}
#main {
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 80%;
    min-width: 300px;
    height: 100%;
    margin: auto;
    padding: 0 10px;
}
@media screen and (max-width: 849px) {
    .filter {
        width: 100%;
        max-width: 400px;
        margin-right: 0;
    }
    .feed {
        max-width: 500px;
        margin-right: 0;
    }
    .rcol {
        order: 1;
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .adp {
        width: 100%;
    }
    #main {
        width: fit-content;
        flex-direction: column;
    }
    footer {
        font-size: 10px;
        padding: 14px 0;
    }
}
@media screen and (min-width: 850px) {
    .filter {
        width: 35%;
        min-width: 200px;
        max-width: 420px;
        margin-right: 20px;
    }
    .feed {
        min-width: 450px;
        width: 90%;
        max-width: 90%;
        margin-right:20px;
    }
    #main {
        width: 95%;
        flex-wrap: nowrap;
    }
    .rcol {
        order: 1;
        margin-left: 10px;
        max-width: 10%;
        margin-right:20px;
    }
    .adp {
        min-width: 100px;
    }
    footer {
        font-size: 12px;
        padding: 17px 0;
    }
}
@media screen and (max-width: 1200px){
    .uinf {
        display: none;
    }
}
@media screen and (min-width: 1201px){
    .feed {
        width: 70%;
        max-width: 70%;
    }
    .adp {
        min-width: 280px;
        max-width: 420px;
        width: 100%;
        padding: 0 10px;
    }
    .rcol {
        min-width: 150px;
        max-width: 300px;
    }
    .filter  {
        min-width: 100px;
        max-width: 300px;
    }
}
.filter {
    box-sizing: border-box;
    order: 3;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
    margin-bottom: 20px;
    border: solid 2px #FF0000;
    height: max-content;
    text-align: center;
}
.input {
    width: 80%;
    height: 95%;
    margin: auto;
    border: none;
    padding: 2.5% 10%;
}
.elname {
    text-align: center;
    font-size: 22px;
    margin: 10px 0;
}

#author, #date, #nation{
    border-radius: 5px;
    border-style: solid;
    border-color: #FF0000;
    width: 100%;
    max-width: 75%;
}

label {
    font-size: 16px;
    text-align: left;
    margin: 5px 0;
}
input {
    text-align: left;
    margin: 5px 0;
}
#tf {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    border-radius: 5px;
    border-style: solid;
    border-color: #FF0000;
    width: 100%;
    max-width: 50%;
    margin: 10px 0;
    font-size: 20px;
    margin-top:10px;
}
.tag {
    background-color: #FA8072;
    border-radius: 5px;
    text-align: center;
    color:white;
    font-size: 12px;
    font-weight: lighter;
    padding: 5px 3px;
    margin: 5px 5px 3px 0;

}
.tags {
    flex-wrap: wrap;
    margin: 3px;
}
#add {
    background-color: #FF0000;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    bottom: 2px;
    border: solid 1px #FA8072;
}
#apply {
    background-color: #FA8072;
    border: solid 1px #FA8072;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 22px;
    height: 50px;
    width: 100px;
}
.feed {
    background-color: grey;
    order: 2;
    display: inline;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
.post {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    border: solid #8C8C8C 2px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;

}
.phead {
    position: relative;
    top: 10px;
}
.pimg {
    height:46px;
    max-width: 50px;
    border-radius: 80px;
}
.pflag{
    max-height: 25px;
    position: absolute;
    margin-left: 10px;
}
.prank{
    max-height: 25px;
    position: absolute;
    margin-left: 60px;
}
.uname {

    font-size: 22px;
    text-align: left;
}
.nameOfCountry{
    display: inline;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
.title{
    margin-bottom: 4px;
}
.rankText{
    display: inline;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
.date {
    color: #4D4D4D;
    margin: 12px 10px;
}
.nation{
    color: #4D4D4D;
    margin: 12px 10px;
}
.att {
    display: block;
    max-height: 300px;
    max-width: 300px;
    width: inherit;
    margin: 5px 0;
}
.text {
    text-align: left;
    margin: 5px;
}
.bot {
    margin: 10px 0;
}
.like {
    border: none;
    background-color: white;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.edit {
    float: right;
    background-color: #FF0000;
    border-radius: 8px;
    border:solid 1px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    padding: 1px 10px;
}
.del {
    float: right;
    padding: 1px 10px;
    margin-right: 10px;
    border: none;
    background-color: white;
}
#load {
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    border: none;
    background-color: #7373D9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 50px;
}
.rcol {
    min-width: fit-content;
}
.uinf {
    box-sizing: border-box;
    border: solid 2px #FF0000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    min-width: 150px;
    max-width: 420px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.secondAccount{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.fakeName{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
.flag{
    margin-top: 10px;
    width: 50px;
}
.rank{
    width: 100px;
    margin-top: 10px;
    height: 20px;
}
.adp {
    background-color: #FF0000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: none;
    height: 40px;
}
footer{
    width: 100%;
    height: 100px;
    min-width: 300px;
    bottom: 0;
    background-color: #FF0000;
    font-family: Arial, sans-serif;
    margin-top: 2px;
}
.leftSide{
    display: inline-block;
    text-align: left;
}
.rightSide{
    display: inline-block;
    text-align: right;
    float: right;
}
.leftText{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.footerLogo{
    display: inline-block;
    max-height: 101px;
    max-width: 100px;
    margin-top: -11px;
    align-content: center;
    position: absolute;
    left: 45%;
}
.rightText{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.fixedbut { 
    position: fixed; 
    bottom: 150px; 
    right:15px;
    border: none;
    height:  28px;
    width: 30px;
 }